<div id="opportunity-partial" class="my-4">
  <div class="row g-4 align-items-center justify-content-center">

    <div class="col">
      <div class="card">
        <img src="https://picsum.photos/50" class="card-img-top" alt="Placeholder Image">
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="card-footer">
          <%= button_to 'Submit an Entry', root_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="https://picsum.photos/50" class="card-img-top" alt="Placeholder Image">
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="card-footer">
          <%= button_to 'Create/Manage Contests', root_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>

  </div>
</div>
