<div id="opportunity-partial" class="my-4">
  <h2>Explore Opportunities</h2>
  
  <div class="row g-4 align-items-end">
    <!-- Department Selection -->
    <div class="col">
      <label for="department-select" class="form-label visually-hidden">Department</label>
      <select class="form-select" id="department-select" name="department_id">
        <option value="">Department</option>
        <%= options_from_collection_for_select(@departments, :id, :name) %>
      </select>
    </div>

    <!-- Class Rank Selection -->
    <div class="col">
      <label for="class-rank-select" class="form-label visually-hidden">Grade Level</label>
      <select class="form-select" id="class-rank-select" name="class_rank_id">
        <option value="">Grade Level</option>
        <%= options_from_collection_for_select(@class_levels, :id, :name) %>
      </select>
    </div>

    <!-- Contest Selection -->
    <div class="col">
      <label for="container-select" class="form-label visually-hidden">Collections</label>
      <select class="form-select" id="container-select" name="container_id">
        <option value="">Contest Collections</option>
        <%= options_from_collection_for_select(@containers, :id, :name) %>
      </select>
    </div>

  </div>
</div>
