<div class="container d-flex flex-column mt-7" style="width: 100%; max-width: 600px;">
  <h1>Welcome to LSA Evaluate</h1>
    <p>
      Tiramisu dolor cookie cake sweet apple donut dolor cookie cookie. Sugar
        dolor candy vanilla apple lollipop donut cookie tiramisu cookie. 
        Croissant candy dolor ipsum muffin ipsum biscuit apple cookie dolor. 
        Marzipan vanilla marzipan candy candy sugar ipsum cream muffin jelly. 
    </p>
  <div class="btn btn-warning btn-block" style="max-width: 100%; width: 600px; height: 31px; padding: 4px 8px; border-radius: 3.2px; border: 1px; gap: 8px;">Sign in using Weblogin</div>
  <p style="color: #6C757D;" class="text-center">
    Don’t have a U-M account?<a href="mailto:someone@yoursite.com" class="um-blue ps-1">Contact XX</a>
  </p>
</div>
