<h2 class="mt-4">Employment Information</h2>
<p>In the event you are a contest winnner.....</p>
<div class= "ms-4">
  <%= f.input :campus_employee, as: :boolean, label: "I am currently an active campus employee (workstudy, GSI, etc)?" %>
</div>