<!-- app/views/contest_descriptions/_eligibility_rules.html.erb -->

<h5>Eligibility Rules</h5>
<div>
  <% if contest_description.eligibility_rules.present? %>
    <%= contest_description.eligibility_rules %>
  <% else %>
    <p>No eligibility rules provided.</p>
  <% end %>
</div>