<div class="d-flex justify-content-between">
  <div>
    <h1><%= @contest_description.name %></h1>
  </div>
  <div>
    <%= link_to "Return to Manage Collection", container_path(@container), class: "link_to" %>
  </div>
</div>

<div id="contest_description_form">
  <%= render 'form' %>
</div>