<div class="d-flex justify-content-between">
  <div>
    <h1><%= @contest_description.name %></h1>
  </div>
  <div>
    <%= link_to "Return to Manage Submissions", containers_path, class: "link_to" %>
  </div>
</div>

<%= render 'form', contest_description: @contest_description %>

<br>

<div>
  <%= link_to 'Back', containers_path(@container) %>
</div>