<div class="d-flex justify-content-between">
  <div>
    <h1><%= action_name.capitalize %> Contest Description</h1>
  </div>
  <div>
    <%= link_to "Return to Manage Collections", containers_path, class: "link_to" %>
  </div>
</div>

<%#%>= render 'form', contest_description: @contest_description %>
<div id="contest_description_form">
  <%= render 'form' %>
</div>