<% content_for :title, "New entry" %>

<h1><%= @entry.contest_instance.contest_description.name %></h1>

<%= render "form", entry: @entry %>

<br>

<div>
  <%= link_to "Back to dashboard", applicant_dashboard_path %>
</div>
