<% content_for :title, "New entry" %>

<h1><%= @entry.contest_instance.contest_description.name %></h1>
<p><%= @entry.contest_instance.contest_description.eligibility_rules %></p>

<%= render "form", entry: @entry %>

<br>

<div>
  <%= link_to "Return to Dashboard", applicant_dashboard_path, class: "link_to" %>
</div>
