<% content_for :title, "New entry" %>

<div data-controller="modal">
  <h1><%= @entry.contest_instance.contest_description.name %></h1>
  <div class="mb-3">Eligibility rules:
    <p class="ms-4"><%= display_eligibility_rules(@entry.contest_instance) %></p>
  </div>

  <%= render "form", entry: @entry %>

  <%= render 'shared/modal' %>
</div>
