<h2>Entries</h2>
<table class="table table-striped w-100">
  <thead>
    <tr>
      <th>ID</th>
      <th>File</th>
      <th>Display Name</th>
      <th>Username</th>
      <th>Title</th>
      <th>Pen Name</th>
      <th>Created At</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @contest_instance_entries.any? %>
      <% @contest_instance_entries.each do |ci_entry| %>
        <%= render partial: 'contest_instances/entry', locals: { entry: ci_entry } %>
      <% end %>
    <% else %>
      <tr>
        <td colspan="8" class="text-center">No entries found.</td>
      </tr>
    <% end %>
  </tbody>
</table>