<h1><%= action_name.capitalize %> contest instance</h1>

<%= render "form", contest_instance: @contest_instance %>

<br>

<div>
  <%= link_to "Show", @contest_instance %> |
  <%= link_to "Back", contest_instances_path %>
</div>
