<%= render "form", contest_instance: @contest_instance %>

<br>

<div>
  <%= link_to "Show #{@contest_instance.contest_description.name} - #{@contest_instance.date_open.year}", container_contest_description_contest_instance_path(@container, @contest_description, @contest_instance)  %> |
  <%= link_to "Back to #{@contest_description.name}", container_contest_description_contest_instances_path(@container, @contest_description) %>
</div>
