<%= render @contest_instance %>

<div>
  <%= link_to "Edit", edit_container_contest_description_contest_instance_path(@container, @contest_description, @contest_instance) %> |
  <%= link_to "Back", container_contest_description_contest_instances_path(@container, @contest_description) %>
  <%= button_to "Destroy", container_contest_description_contest_instance_path(@container, @contest_description, @contest_instance), method: :delete, data: { controller: 'confirm', confirm_message_value: 'Are you sure you want to delete this?' } %>
</div>
