<%# app/views/shared/_eligibility_modal.html.erb %>
<div class="modal fade"
     id="eligibilityModal"
     tabindex="-1"
     role="dialog"
     aria-modal="true"
     aria-labelledby="eligibilityModalLabel"
     data-eligibility-modal-target="modal"
     inert>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eligibilityModalLabel">Eligibility Rules</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                data-eligibility-modal-target="closeButton"></button>
      </div>
      <div class="modal-body" data-eligibility-modal-target="content">
        <!-- Full eligibility rules will be loaded here -->
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
