<nav class="navbar navbar-expand-lg navbar-dark bg-um-blue">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div id="LSAlogo">
      <a class="navbar-brand" href="#"><%= image_tag 'LSA_Logo.svg', alt: 'LSA Logo' %></a>
      <div class="nav-title d-none d-lg-block">
        Evaluate
      </div>
    </div>
    <div id="avatar" class="avatar bg-warning me-5">
      <img
        id="avatar"
        src="https://upload.wikimedia.org/wikipedia/commons/4/4f/User_%2834476%29_-_The_Noun_Project.svg"
        class="img-fluid"
        alt="Avatar"
      />
      
    </div>
  </div>
</nav>