<div class="container mt-4">
  <div class="alert alert-danger">
    <%= flash.now[:alert] %>
  </div>
  <div class="mt-3">
    <%= link_to "Back to Dashboard", applicant_dashboard_path, class: "btn btn-primary" %>
  </div>
</div>
