<div id="<%= dom_id department %>">
  <p>
    <strong>Dept ID:</strong>
    <%= department.dept_id %>
  </p>

  <p>
    <strong>Dept name:</strong>
    <%= department.name %>
  </p>

  <p>
    <strong>Dept description:</strong>
    <%= department.dept_description %>
  </p>

</div>
