<p style="color: green"><%= notice %></p>

<h1>User Roles</h1>

<div id="roles">
  <% @user_roles.each do |user_role| %>
    <%= render user_role %>
    <p>
      <%= link_to "Show", user_role %>
    </p>
  <% end %>
</div>

<%= link_to "New", new_user_role_path %>
