<table class="table table-striped mt-2">
  <thead>
    <tr>
      <th>User</th>
      <th>Role</th>
      <th class="text-center">Actions</th> <!-- New column for actions -->
    </tr>
  </thead>
  <tbody>
    <% assignments.each do |assignment| %>
      <tr id="<%= dom_id(assignment) %>">
        <td><%= assignment.user.display_name_or_email %></td>
        <td><%= assignment.role.kind %></td>
        <td class="text-center">
          <%= link_to container_assignment_path(container, assignment), 
                      method: :delete, 
                      data: { turbo_confirm: "Are you sure?" }, 
                      class: "link_to text-danger" do %>
            <i class="text-danger bi bi-trash" style="font-size: 1.5rem;" aria-hidden="true"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>