<%# app/views/containers/_assignments_table.html.erb %>
<table class="table table-striped mt-2">
  <thead>
    <tr>
      <th>User</th>
      <th>Role</th>
      <th class="text-center">Actions</th> <!-- New column for actions -->
    </tr>
  </thead>
  <tbody id="assignments">
    <% assignments.each do |assignment| %>
      <%= render partial: 'containers/assignment_row', locals: { assignment: assignment, container: container } %>
    <% end %>
  </tbody>
</table>
