<div class="container mt-4">
  <div class="row">
    <% @containers.each do |container| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title"><%= container.name %></h5>
          </div>
          <div class="card-body">
            <% container.contest_descriptions.each do |description| %>
              <p><%= description %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



<hr>

<div class="table-container">
  <h1 class="mt-4">Manage Submission</h1>
  <table class="table table-bordered table-hover table-striped mt-6">
    <thead>
      <tr>
        <th>Status</th>
        <th>Contest Name</th>
        <th>Open Date</th>
        <th>Close Date</th>
        <th><input type="text" class="form-control search-input" placeholder="Search..."></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Open</td>
        <td>Cora Duncan Award in Fiction</td>
        <td>November 1, 2023 12:00 AM</td>
        <td>January 18, 2024 11:59 PM</td>
        <td class="text-center">
          <button class="btn-icon">
            <i class="bi bi-eye"></i>
          </button>
          <button class="btn-icon">
            <i class="bi bi-pencil"></i>
          </button>
        </td>
      </tr>
      <!-- Repeat rows as necessary -->
      <tr>
        <td>Open</td>
        <td>Text line</td>
        <td>Text line</td>
        <td>Text line</td>
        <td class="text-center">
          <button class="btn-icon">
            <i class="bi bi-eye"></i>
          </button>
          <button class="btn-icon">
            <i class="bi bi-pencil"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Open</td>
        <td>Text line</td>
        <td>Text line</td>
        <td>Text line</td>
        <td class="text-center">
          <button class="btn-icon">
            <i class="bi bi-eye"></i>
          </button>
          <button class="btn-icon">
            <i class="bi bi-pencil"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Open</td>
        <td>Text line</td>
        <td>Text line</td>
        <td>Text line</td>
        <td class="text-center">
          <button class="btn-icon">
            <i class="bi bi-eye"></i>
          </button>
          <button class="btn-icon">
            <i class="bi bi-pencil"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Open</td>
        <td>Text line</td>
        <td>Text line</td>
        <td>Text line</td>
        <td class="text-center">
          <button class="btn-icon">
            <i class="bi bi-eye"></i>
          </button>
          <button class="btn-icon">
            <i class="bi bi-pencil"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Open</td>
        <td>Text line</td>
        <td>Text line</td>
        <td>Text line</td>
        <td class="text-center">
          <button class="btn-icon">
            <i class="bi bi-eye"></i>
          </button>
          <button class="btn-icon">
            <i class="bi bi-pencil"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Closed</td>
        <td>Text line</td>
        <td>Text line</td>
        <td>Text line</td>
        <td class="text-center">
          <button class="btn-icon">
            <i class="bi bi-eye"></i>
          </button>
          <button class="btn-icon">
            <i class="bi bi-pencil"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Closed</td>
        <td>Text line</td>
        <td>Text line</td>
        <td>Text line</td>
        <td class="text-center">
          <button class="btn-icon">
            <i class="bi bi-eye"></i>
          </button>
          <button class="btn-icon">
            <i class="bi bi-pencil"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Open</td>
        <td>Text line</td>
        <td>Text line</td>
        <td>Text line</td>
        <td class="text-center">
          <button class="btn-icon">
            <i class="bi bi-eye"></i>
          </button>
          <button class="btn-icon">
            <i class="bi bi-pencil"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Open</td>
        <td>Text line</td>
        <td>Text line</td>
        <td>Text line</td>
        <td class="text-center">
          <button class="btn-icon">
            <i class="bi bi-eye"></i>
          </button>
          <button class="btn-icon">
            <i class="bi bi-pencil"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Open</td>
        <td>Text line</td>
        <td>Text line</td>
        <td>Text line</td>
        <td class="text-center">
          <button class="btn-icon">
            <i class="bi bi-eye"></i>
          </button>
          <button class="btn-icon">
            <i class="bi bi-pencil"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Open</td>
        <td>Text line</td>
        <td>Text line</td>
        <td>Text line</td>
        <td class="text-center">
          <button class="btn-icon">
            <i class="bi bi-eye"></i>
          </button>
          <button class="btn-icon">
            <i class="bi bi-pencil"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <span>Total 95 items</span>
  </div>
</div>