<div class="d-flex justify-content-between">
  <div>
    <h1><%= action_name.capitalize %> Contest</h1>
  </div>
  <div>
    <%= link_to "Back to Collections", containers_path, class: "link_to" %>
  </div>
</div>

<%= render "form", container: @container %>

<br>

<div>
  <%= link_to "Back to #{@container.name}", @container %>
</div>
