<div class="container d-flex justify-content-between mt-4">
  <div>
    <h1>Manage Contest Collections</h1>
    <% if (content = render_editable_content('container', 'instructions')) %>
        <%= content %>
    <% end %> 
  </div>
  <div>
    <%= link_to "Create a Contest Collection", new_container_path, class: 'btn btn-sm btn-primary' %>
  </div>
</div>

<div class="container-fluid d-flex flex-column justify-content-between mt-4" id="containers">
  <% if @containers.any? %>
    <%= render partial: 'container_summary', collection: @containers, as: :container %>
  <% else %>
    <p>No containers available.</p>
  <% end %>
</div>