<p style="color: green"><%= notice %></p>

<h1>Containers</h1>

<div id="containers">
  <% @containers.each do |container| %>
    <%= render container %>
    <p>
      <%= link_to "Show", container %>
    </p>
  <% end %>
</div>

<%= link_to "New", new_container_path %>
