<%= simple_form_for :filter, url: applicant_dashboard_path, method: :get, html: { data: { turbo: false } } do |form| %>
  <div class="row g-4 align-items-end">
    <div class="col">
      <%= form.input :department_id, 
                     collection: @departments,
                     label: 'Department',
                     label_html: { class: 'visually-hidden' },
                     include_blank: 'Choose a department…',
                     selected: params.dig(:filter, :department_id),
                     input_html: { 
                       class: 'form-select', 
                       id: 'department-select', 
                       onchange: 'this.form.requestSubmit()' 
                     } %>
    </div>

    <div class="col">
      <%= form.input :container_id, 
                     collection: @containers,
                     label: 'Collections',
                     label_html: { class: 'visually-hidden' },
                     include_blank: 'Choose a collection…',
                     selected: params.dig(:filter, :container_id),
                     input_html: { 
                       class: 'form-select', 
                       id: 'container-select', 
                       onchange: 'this.form.requestSubmit()' 
                     } %>
    </div>

    <% if params[:filter] && (params[:filter][:department_id].present? || params[:filter][:container_id].present?) %>
      <div class="col">
        <%= link_to 'Clear Filters', applicant_dashboard_path, class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
<% end %>