<div class="mb-2">
  <p>
    <%= @message %>
  </p>
</div>
<div class="modal-footer">
<% if @profile_exist %>
  <%= link_to "Update Profile", edit_profile_path(@profile), data: { turbo_frame: "_top" }, class: "btn btn-primary" %>
<% else %>
  <%= link_to "Create Profile", new_profile_path, data: { turbo_frame: "_top" }, class: "btn btn-primary" %>
<% end %>
</div>
