<h1>Editing testingrsmoke</h1>

<%= render "form", testingrsmoke: @testingrsmoke %>

<br>

<div>
  <%= link_to "Show this testingrsmoke", @testingrsmoke %> |
  <%= link_to "Back to testingrsmokes", testingrsmokes_path %>
</div>
