<div class="container d-flex flex-column mt-7" style="width: 100%; max-width: 600px;">
    <h1>Oops!</h1>
    <%= image_tag 'error_robot.svg', alt: 'Error Page', class: "img-fluid", width: 235, height: 144 %>
    <p class="text-center">👽 Oops! Looks like we’ve been abducted! 👽</p>

    <p>We couldn’t find the page you were looking for. Maybe it’s lost in space, or some 
      friendly aliens borrowed it for a joyride across the galaxy.</p>

    <p>🔭 Try using our navigation to get back on track before they come back for more pages!</p>
  <div style="color: #6C757D; text-align: center; padding-bottom: 120px;">
    Go back to the <a href="/" class="link_to">homepage</a> or <a id="myCustomTrigger" class="link_to"" href="#" data-email="<%= session[:user_email]%>">Report an Issue</a>
  </div>
</div>