<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Test Email from LSA Evaluate</h1>
    <p>This is a test email to verify email authentication settings.</p>
    <p>Sent at: <%= Time.current %></p>
  </body>
</html>
