<h1>Editing visibility</h1>

<%= render "form", visibility: @visibility %>

<br>

<div>
  <%= link_to "Show this visibility", @visibility %> |
  <%= link_to "Back to visibilities", visibilities_path %>
</div>
