<div id="<%= dom_id editable_content %>">
  <p>
    <strong>Page:</strong>
    <%= editable_content.page %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= editable_content.section %>
  </p>

    <p>
    <strong>Body:</strong>
    <%= editable_content.content.body %>
  </p>

</div>
