<p style="color: green"><%= notice %></p>

<h1>Editable_contents</h1>

<div id="editable_contents">
  <% @editable_contents.each do |editable_content| %>
    <%= render editable_content %>
    <p>
      <%= link_to "Show this editable_content", editable_content %>
    </p>
  <% end %>
</div>

<%= link_to "New editable_content", new_editable_content_path %>
