html,
body {
  height: 100%;
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #212529;
}

body {
  display: flex;
  flex-direction: column;
}

.footer {
  flex-shrink: 0;
  border-top: 1px solid $um_blue;
}

.footer-text-bold {
  font-weight: 700;
  color: $um_blue;
}

.footer-text {
  color: #212529;
  font-family: Noto Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}

.footer-link {
  text-decoration: none;
}

h1 {
  font-family: Roboto;
  font-size: 45px;
  font-weight: 900;
  line-height: 54px;
  letter-spacing: 0em;
}

h2 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  letter-spacing: 0em;
}

p {
  font-family: Noto Sans;
  font-size: 1rem; // 16px
  line-height: 1.5;
  color: #212529;
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.75rem;
  }
}

.edit-link {
  margin-left: 10px;
  color: inherit;
  text-decoration: none;
}

.edit-link:hover {
  text-decoration: underline;
}

#LSAlogo {
  display: flex;
  align-items: flex-start;
  padding-left: 82px;

  .navbar-brand {
    margin-right: auto;

  }

  .nav-title {
    position: relative;
    font-family: Noto Sans;
    font-size: 48px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
  }
}

.user-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 100px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

#avatar {
  cursor: pointer;
  background-color: #ffc107;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  width: auto;
  min-width: 10rem;
  padding: 0.5rem 0;

  background-color: #FFCB05;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;

}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 4px, 16px;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;

  &:hover {
    background-color: #f8f9fa;
    color: #0056b3;
  }
}

.show {
  display: block;
}

.bold {
  font-weight: 700;
}

svg.wh6 {
  width: 24px;
  height: 24px;
}

.btn-as-link {
  background: none;
  border: none;
  font: inherit;
  text-align: left;
  cursor: pointer;
}

/* FORMS */

form label.required:after {
  color: red;
  content: " *";
}

#error_explanation {
  background-color: $warning;
  border: solid $rigorous_red 1px;
  border-radius: 4px;
  padding: 20px;

  li {
    color: $rigorous_red;
    font-size: 1rem;
    padding-bottom: 2px;
  }
}

.field_with_errors {
  display: inline;

  label {
    color: $rigorous_red;
    max-width: 160px;
  }

  input,
  textarea,
  select {
    background: $warning;
  }
}

.flash {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  position: fixed;
  top: 1.5rem;
  right: 0.5rem;
  padding: 1rem 1.25rem; // Note: This line overrides the previous 'padding: 20px'
  border-radius: 0.5rem;
}

.flash_notice {
  background-color: $flash-notice-color;
}

.flash_alert {
  background-color: $flash-alert-color;
}